@page
@model RealEstateMarket.Api.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>INDEX PAGE</h1>
<a asp-page="RealEstate/ListAll">List every real estate</a>
<a asp-page="RealEstate/Create">Create new real estate</a>
